body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.section {
  padding: 100px 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}